*.o
*.a
main
LogRegOracle_test
output

datasets/a9a/*
!datasets/a9a/README
!datasets/a9a/download.sh
!datasets/a9a/filelist.txt

datasets/w8a/*
!datasets/w8a/README
!datasets/w8a/download.sh
!datasets/w8a/filelist.txt

datasets/covtype/*
!datasets/covtype/README
!datasets/covtype/download.sh
!datasets/covtype/filelist.txt

datasets/alpha/*
!datasets/alpha/README
!datasets/alpha/download.sh
!datasets/alpha/filelist.txt

datasets/mushrooms/*
!datasets/mushrooms/README
!datasets/mushrooms/download.sh
!datasets/mushrooms/filelist.txt

datasets/epsilon/*
!datasets/epsilon/README
!datasets/epsilon/download.sh
!datasets/epsilon/filelist.txt

datasets/zeta/*
!datasets/zeta/README
!datasets/zeta/download.sh
!datasets/zeta/filelist.txt

datasets/beta/*
!datasets/beta/README
!datasets/beta/download.sh
!datasets/beta/filelist.txt

datasets/gamma/*
!datasets/gamma/README
!datasets/gamma/download.sh
!datasets/gamma/filelist.txt

datasets/delta/*
!datasets/delta/README
!datasets/delta/download.sh
!datasets/delta/filelist.txt

datasets/quantum/*
!datasets/quantum/README
!datasets/quantum/normalise.py

datasets/protein/*
!datasets/protein/README
!datasets/protein/normalise.py
