*.o
*.a
main
LogRegOracle_test

results/*.pdf
results/.ipynb_checkpoints

datasets/a9a/*
!datasets/a9a/README
!datasets/a9a/download.sh
!datasets/a9a/filelist.txt

datasets/w8a/*
!datasets/w8a/README
!datasets/w8a/download.sh
!datasets/w8a/filelist.txt

datasets/covtype/*
!datasets/covtype/README
!datasets/covtype/download.sh
!datasets/covtype/filelist.txt

datasets/cod-rna/*
!datasets/cod-rna/README
!datasets/cod-rna/download.sh
!datasets/cod-rna/filelist.txt

datasets/ijcnn1/*
!datasets/ijcnn1/README
!datasets/ijcnn1/download.sh
!datasets/ijcnn1/filelist.txt

datasets/SUSY/*
!datasets/SUSY/README
!datasets/SUSY/download.sh
!datasets/SUSY/filelist.txt
!datasets/SUSY/split.sh

datasets/mnist8m/*
!datasets/mnist8m/README
!datasets/mnist8m/download.sh
!datasets/mnist8m/filelist.txt

datasets/gisette/*
!datasets/gisette/README
!datasets/gisette/download.sh
!datasets/gisette/filelist.txt

datasets/alpha/*
!datasets/alpha/README
!datasets/alpha/download.sh
!datasets/alpha/filelist.txt
!datasets/alpha/normalise.py

datasets/mushrooms/*
!datasets/mushrooms/README
!datasets/mushrooms/download.sh
!datasets/mushrooms/filelist.txt

datasets/epsilon/*
!datasets/epsilon/README
!datasets/epsilon/download.sh
!datasets/epsilon/filelist.txt

datasets/zeta/*
!datasets/zeta/README
!datasets/zeta/download.sh
!datasets/zeta/filelist.txt

datasets/beta/*
!datasets/beta/README
!datasets/beta/download.sh
!datasets/beta/filelist.txt

datasets/gamma/*
!datasets/gamma/README
!datasets/gamma/download.sh
!datasets/gamma/filelist.txt

datasets/delta/*
!datasets/delta/README
!datasets/delta/download.sh
!datasets/delta/filelist.txt

datasets/fd/*
!datasets/fd/README
!datasets/fd/download.sh
!datasets/fd/filelist.txt
!datasets/fd/convert.py

datasets/ocr/*
!datasets/ocr/README
!datasets/ocr/download.sh
!datasets/ocr/filelist.txt
!datasets/ocr/convert.py

datasets/dna/*
!datasets/dna/README
!datasets/dna/download.sh
!datasets/dna/filelist.txt
!datasets/dna/convert.py

datasets/quantum/*
!datasets/quantum/README

datasets/protein/*
!datasets/protein/README
!datasets/protein/normalise.py
